 <ul class="tweets">
    {{#each user.books}}
<div class="card">
  <div class="card-content">
    <a class="card-title" href="/book/{{_id}}">
      {{ title }}
    </a>
  </div>
  <div class="card-action">
    <a href="" class="">{{ author }}</a>
  </div>
  </div>
    {{/each}}
  </ul>
