<h2 class="brown-text">Signup</h2>

{{#if message}}
  <div class="alert alert-danger">{{message}}</div>
{{/if}}

<form method="post" action="/user/signup">
  <div class="form-group">
    <label class="brown-text" for="email">Email</label>
    <input class="form-control brown-text" type="text" name="email" id="email">
  </div>

  <div class="form-group">
    <label class="brown-text" for="email">Password</label>
    <input class="form-control brown-text" type="password" name="password" id="password">
  </div>

  <input class="btn btn-default brown lighten-3 brown-text" type="submit">
</form>
