{{#if books}}
<ul>
{{#each books}}
<div class="row">
    <div class="col l12 m6">
      <div class="card brown lighten-3">
        <div class="card-content brown-text">
          <a href="/book/{{id}}"><span class="card-title brown-text">{{ title }}<br>
          by {{ author }}</span></a>
        </div>
      </div>
    </div>
  </div>
{{/each}}
</ul>
{{/if}}