{{#if books}}
<ul>
{{#each books}}
<div class="row">
    <div class="col l12 m6">
      <div class="card brown lighten-3">
        <div class="card-content brown-text">
          <a href="/book/{{id}}"><span class="card-title brown-text">{{ title }}<br>
          by {{ author }}</span></a>
          {{!-- <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p> --}}
        </div>
        {{!-- <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div> --}}
      </div>
    </div>
  </div>
{{/each}}
</ul>
{{/if}}