<section class="form-container">
  <h4>New Tweet</h4>
  <form action="/book/{{book._id}}" method="post" class="tweet-form">
    <p class="input-field">
      <textarea name="note[content]" cols="30" rows="10" placeholder="Message"></textarea>
    </p>
    <p class="input-field">
      <input type="submit" value="Note" class="btn waves-effect waves-light">
    </p>
  </form>
</section>